@media screen and (min-width: 800px) {
  /* Utilities classes*/
  .flex {
    flex-direction: row;
  }

  /* header section */
  .header__nav {
    background-color: transparent;
    color: var(--font-color);
    width: max-content;
    display: flex;    
    position: static;
  }

  .header__ul {
    flex-direction: row;
  }

  .header__btn {
    display: none;
  }

  /* //HERO SECTION */
  .hero {
    height: calc(100dvh - 50px);
    display: flex;
  }

  .hero__figure {
    min-width: 50%;
    height: 100%;
    position: relative;
  }

  .hero__figcaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -20px;
  }

  /* ABOUT US SECTION */
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .about__figure, 
  .about__aside {
    max-width: 50%;
  }

  /* // WHY SECTION */
  .why {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  
  .why__div,
  .why__fieldset {
    font-size: 0.7em;
    width: clamp(200px, 32%, 400px);
    height: 150px;
  }

  .why__div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Service section */
 
  .service__div {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .service__div p{
    max-width: 50%;
  }

  .service__figure {
    width: 30%;
  }

  /* //TRUST SECTION */
  .trust__ul li {
    max-width: 120px;
  }

  /* // CONTACT SECTION */
  .contact {
    height: 60vh;
    display: flex;
  }

  .contact__div,
  .contact__figure {
    min-width: 50%;
  }

  .contact__form {
    top: auto;
    right: -20%;
  }
      
  /* // ABOUT PAGE */
  .card__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}