/* //ABOUT PAGE HERO */
.about__hero {
  background-color: darkgreen;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url(../public'/img//about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0.5rem;
}

.about__h2 {
  margin: 1rem ;
}

.about__card {
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--shadow-color);
  text-align: center;
  width: clamp(200px, 80vw, 300px);
  max-height: 350px;
  margin: 1rem auto;
  padding: 0.5rem;
}
.about__card .bold {
  color: var(link-color);
  text-shadow: 1px 2px 5px var(--reverse-font-color);
  font-size: 1.2rem;
}
.about__card:first-child {
  background-color: var(--bgcolor);
}
.about__card:nth-child(2) {
  background-color: var(--highlight);
}
.about__card:nth-child(3) {
  background-color: var(--header-color);
  color: var(reverse-font-color);
}

.about__section {
  padding: 1rem;
}

.about__section figure {
  width: clamp(150px, 80vw, 300px);
  margin: auto 2rem;
}

.founders {
  background-color:var(--bgcolor);
  color: var(--reverse-font-color);
  padding: 1rem;
}

.about__figure-profile {
  border-radius: 50%;
  border: 2px double var(--border-color);
  width: 150px;
  height: 150px;
  margin-bottom: 0.5rem;
}
